@page "/"

<div class="content">
    @if (!_hideLogo)
    {
        <div class="logo">
            <img src="images/fish.png" alt="Fish card logo" width="200" loading="lazy" />
        </div>
    }
    <div>
        💡 What types of fish are safe to eat during pregnancy?
    </div>
    <Search OnKeywordChanged="OnKeywordChanged" />
</div>

@code {
    private bool _hideLogo = false;

    private async Task OnKeywordChanged(string newKeyword)
    {
        _hideLogo = !string.IsNullOrEmpty(newKeyword);
        await Task.Yield();
    }
}