.content {
    flex-direction: column;
    align-items: center;
}

.title
{
    display: flex;
    justify-content: center;
}

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#tagline
{
    display: flex;
    justify-content: center;
}