@page "/"
@page "/search"
@layout MainLayout;
@inject NavigationManager NavigationManager

<div class="content">
    @if (!_hideLogo)
    {
        <div class="logo">
            <img src="images/fish.png" alt="Fish card logo" width="200" loading="lazy" />
        </div>
    }
    <div>
        💡 What types of fish are safe to eat during pregnancy?
    </div>
    <Search SearchKeyword="@SearchKeyword" />
</div>

@code {
    protected override void OnParametersSet()
    {
        _hideLogo = !string.IsNullOrEmpty(SearchKeyword);
    }

    [SupplyParameterFromQuery(Name = "q")]
    [Parameter]
    public string? SearchKeyword { get; set; }

    private bool _hideLogo = false;
}
