@page "/"
@page "/{searchKeywordByRoute?}"
@page "/search"
@layout MainLayout;
@inject NavigationManager NavigationManager

<div class="content">
    @if (!_hideLogo)
    {
        <div class="logo">
            <img src="images/fish.png" alt="Fish card logo" width="200" loading="lazy" />
        </div>
    }
    <div>
        @SearchKeywordByRoute
    </div>
    <div>
        💡 What fish are safe to eat during pregnancy?
    </div>
    <Search SearchKeyword="@SearchKeyword" />
</div>

@code {
    private bool _hideLogo = false;

    [Parameter]
    public string? SearchKeywordByRoute { get; set; }

    [SupplyParameterFromQuery(Name = "q")]
    [Parameter]
    public string? SearchKeyword { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(SearchKeywordByRoute) && string.IsNullOrEmpty(SearchKeyword))
        {
            SearchKeyword = SearchKeywordByRoute;
        }
    }

    protected override void OnParametersSet()
    {
        _hideLogo = !string.IsNullOrEmpty(SearchKeyword);
    }
}
