@page "/login"
@using CodeWithSaar.FishCard.Auth
@inject IAuthenticationService _authenticationService


<EditForm Model=@LoginCredential OnValidSubmit=LoginCommandAsync>
    <label for="input_user_name">Username:</label>
    <input id='input_user_name' @bind=LoginCredential.UserName />
    <label for="input_password">Passwrod:</label>
    <input id='input_password' type='password' @bind=LoginCredential.Password />
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <button id="submit">Login</button>
        <button id="clear">Clear</button>
    </div>
</EditForm>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string NavigateBackUrl { get; set; } = default!;

    public LoginCredential LoginCredential { get; } = new LoginCredential();

    public async Task LoginCommandAsync()
    {
        await _authenticationService.LoginAsync(LoginCredential, NavigateBackUrl, default);
    }
}