@page "/login"
@using CodeWithSaar.FishCard.Auth
@inject IHttpClientFactory _httpClientFactory;

<EditForm Model=@LoginCredential OnValidSubmit=LoginCommandAsync>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="input_user_name">Username:</label>
    <input id='input_user_name' @bind=LoginCredential.UserName />
    <label for="input_password">Passwrod:</label>
    <input id='input_password' type='password' @bind=LoginCredential.Password />
    <div>
        <button id="submit" @onclick="LoginCommandAsync">Login</button>
        <button id="clear">Clear</button>
    </div>
</EditForm>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "navigateBackUrl")]
    public string NavigateBackUrl { get; set; } = default!;

    public LoginCredential LoginCredential { get; } = new LoginCredential();

    public async Task LoginCommandAsync()
    {
        using (HttpClient httpClient = _httpClientFactory.CreateClient("backend"))
        {
            HttpResponseMessage responseMessage = await httpClient.PostAsJsonAsync<LoginCredential>(new Uri("/token",
            UriKind.Relative), LoginCredential);
            if (responseMessage.IsSuccessStatusCode)
            {
                Console.WriteLine("Login succeeded!");
            }
        }
    }
}