.search-input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    border: 1px solid #999;
    border-radius: 20px;
    background-color: transparent;
    padding-right: 8px;
    padding-left: 4px;
    margin-top: 12px;
    width: 100%;
    min-width: 180px;
    max-width: 500px;
    background-color: var(--control-surface);
}

#search-icon-holder {
    width: 32px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    fill: #666;
    flex-grow: 0;
}

#keyword-input {
    border: hidden;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 400px;
}

#search-operations-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    margin-bottom: 36px;
}

button {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#fish-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    justify-content: space-evenly;
}

.fish-card {
    border: 1px dashed #999;
    padding: 16px;
    margin: 4px;
    width: 250px;
    background-color: var(--control-surface);
    box-shadow: 2px 2px 1px #ddd;
}

.quick-access {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.quick-access>div {
    white-space: nowrap;
}

h3 {
    margin-top: 4px;
}

@media screen and (max-width: 600px) {
    .fish-card {
        width: 100%;
        flex-grow: 1;
    }
}