.content {
    display: flex;
    flex-direction: column;
}

.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm>svg {
    width: 32px;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
    border: 1px solid #999;
    border-radius: 20px;
    max-width: 95%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
    padding-right: 10px;
    padding-left: 4px;
}

.search-input-container>input {
    border: hidden;
    outline: none;
}

#search-icon-holder {
    width: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

#keyword-input {
    flex-grow: 10;
    width: 450px;
}

/* @media screen and (min-width:300px) {
    #keyword-input {
        width: 450px;
    }
} */

button {
    width: 80px;
    border-width: 1px;
    outline: 1px;
}