@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavLink href="/Login">Login</NavLink>
    </div>
    <div class="homelink">
        <a href="https://www.codewithsaar.net">🔗 Visit codewithsaar.net</a>
    </div>
    <div>
        @Body
    </div>
</div>